* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--tobo-bg);
}


:root {
    --tobo-bg: #f6f8f9;
    --tobo-ltext: #45abea;
    --tobo-vio: #9c72e4;
    --tobo-lhead: #47adf1;
    --tobo-gtext: #b0c926;
    --tobo-ptext: #d863a1;
    --tobo-otext: #f29e33;
    --tobo-vtext: #64c0a9;
    --tobo-true: #a0dbce;
    --tobo-false: #ee827d;
}

#site_header {
    padding: 2rem;
    background-color: white;
    margin-bottom: 2rem;
}

#logo {
    font-size: 50px;
    font-weight: bold;
    vertical-align: bottom;
}

#nav {
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
}

#task_button {
    background-color: var(--tobo-lhead);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;

    &:hover {
        background-color: darkblue;
        cursor: pointer;
    }
}

#section_button {
    color: lightgrey;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;

    &:hover {
        background-color: darkgrey;
        cursor: pointer;
    }
}

#container {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding: 2rem;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.tasks {
    margin-bottom: 1rem;
}

.title {
    font-size: larger;
    font-weight: bolder;
}

.true {
    color: var(--tobo-true);
}

.false {
    color: var(--tobo-false);
}

.editorial {
    background-color: var(--tobo-lhead);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

li {
    padding: 0.5rem 0;
    font-weight: 200;
}

.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#goals {
    background-color: var(--tobo-vio);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

#recruit {
    background-color: var(--tobo-vtext);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

#mobile {
    background-color: var(--tobo-otext);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

#web {
    background-color: var(--tobo-ptext);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}

#sales {
    background-color: var(--tobo-gtext);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
}